* {

}


.DisplayBox {
    max-width: 800px;
    margin-bottom: 16px;
}

.General {

}

.Education {
    display: flex;
    flex-direction: column;
}

.Work {
    display: flex;
    flex-direction: column;
}

#phoneNo {
    margin-left: auto;
}

.NameAndNo {
    display: flex;
}

.roundButton {
    margin-left: auto;
    max-width: 20px;
    border-radius: 50%;
}

.roundButtonHidden {
    display: none;
}

.divAddMore {
    display:flex;
    flex-direction: row-reverse;
}