* {

}

h1 {
    margin-bottom: 36px;
}

.DisplayBox {
    max-width: 800px;
    margin-bottom: 16px;
}

.General {
    display: flex;
    flex-direction: column;
}

.Education {
    display: flex;
    flex-direction: column;
}

.Work {
    display: flex;
    flex-direction: column;
}

.Work.DisplayBox div {
    margin-top: 8px;
}

span {
    margin-top: 4px;
}

#phoneNo {
    margin-left: auto;
}

.NameAndNo {
    display: flex;
}

.roundButton {
    margin-left: auto;
    max-width: 20px;
    border-radius: 50%;
}

.roundButtonHidden {
    display: none;
}

.divAddMore {
    display:flex;
    flex-direction: row-reverse;
}

.divGen {
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    max-width: 800px;
}

.divEdu {
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    max-width: 800px;
}

.divWork {
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    max-width: 800px;
}

.divBtns {
    margin-top: 16px;
    margin-left: 2px;
}

.btnSubmit {
    width: 80px;
    border: 2px solid black;
    border-radius: 4px;
    height: 40px;
    font-weight: bold;
    background-color: dimgrey;
    color: whitesmoke;
}

.btnEdit {
    width: 80px;
    margin-left: 8px;
    border: 2px solid black;
    border-radius: 4px;
    height: 40px;
    font-weight: bold;
    background-color: dimgrey;
    color: whitesmoke;
}